html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
   background-color: black;
   opacity: 0.9;
}

/*header*/
header{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: black;

}
.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.teacozy{
  flex: 2;
  margin-left: 10px;

}
.header,#logo{
  height: 50px;
  margin-top: 10px;

}
.nav{
  flex: 1;

}
.nav span{
  margin-left: 15px;
}
a{
  color: seashell;
  text-decoration: underline;
}

/* Main Body of Page*/
.main{
margin: auto;
padding-top: 69px;
width: 1200px;
}

/*Mission Section*/
.mission{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}
.statement{
  background-color: black;
  width: 1200px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}
/* Tea of the Month Section*/
.month{
  width: 1000px;
  height: 700px;
  text-align: center;
  padding-top: 75px;
  margin: auto;

}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.item{
  padding: 5px;

}
.container img{
  height: 200px;
  margin: 10px;

}
.item span{
  text-align: center;
  padding: 5px;
  display: block;

}

/* Location Information*/
.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  text-align: center;
  vertical-align: middle;
  margin-top: 70px;
}
.locations h2{
  margin: 0;
}
.flex-container{
  display: flex;
  justify-content: center;

}
.location{
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px 15px 20px;
}
.location p{
  display: block;
  padding-top: 15px;
}
/* contact Information*/
.contact{
  height: 200px;
  text-align: center;
}
.contact h2{
  padding:10px;
}
/*Footer*/
footer{
  text-align: left;
  padding-left: 20px;
}
